/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', Arial, sans-serif!important;
  height: 100vh;
}

.main-container {
  overflow: hidden;
}