<template name="CalculatorPad">
  <div class="ui equal width center aligned padded grid pad">
    <div class="row nopadding">
      <div class="column num seven">
        <span>7</span>
      </div>
      <div class="column num eight">
        <span>8</span>
      </div>
      <div class="column num nine">
        <span>9</span>
      </div>
      <div class="column num plus operator">
        <span>+</span>
      </div>
    </div>
    <div class="row nopadding">
      <div class="column num four">
        <span>4</span>
      </div>
      <div class="column num five">
        <span>5</span>
      </div>
      <div class="column num six">
        <span>6</span>
      </div>
      <div class="column num minus operator">
        <span>-</span>
      </div>
    </div>
    <div class="row nopadding">
      <div class="column num one">
        <span>1</span>
      </div>
      <div class="column num two">
        <span>2</span>
      </div>
      <div class="column num three">
        <span>3</span>
      </div>
      <div class="column num times operator">
        <span>*</span>
      </div>
    </div>

    <div class="row nopadding">
      <div class="column num dot">
        <span>.</span>
      </div>
      <div class="column num zero">
        <span>0</span>
      </div>
      <div class="column num equals">
        <span>=</span>
      </div>
      <div class="column num over operator">
        <span>/</span>
      </div>
    </div>
  </div>
</template>